converter/glassfish_plugin/testprojects/SimplestEntApp/SimplestEntApp-ejb/src/conf/wsdl/localhost_8080/StandAloneWSImple/EchoService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://a/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://a/">

<xs:element name="IllegalArgumentException" type="tns:IllegalArgumentException"></xs:element>

<xs:element name="complex" type="tns:complex"></xs:element>

<xs:element name="complexResponse" type="tns:complexResponse"></xs:element>

<xs:element name="simple" type="tns:simple"></xs:element>

<xs:element name="simpleResponse" type="tns:simpleResponse"></xs:element>

<xs:complexType name="complex">
<xs:sequence>
<xs:element name="s" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="repeat" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="complexResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IllegalArgumentException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simple">
<xs:sequence>
<xs:element name="s" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simpleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>