converter/ProjectConverter/testprojects/SimplestEntApp/SimplestEntApp-ejb/src/conf/wsdl/localhost_8080/StandAloneWSImple/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://a/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://a/" name="EchoService">
<types>
<xsd:schema>
<xsd:import namespace="http://a/" schemaLocation="http://localhost:8080/StandAloneWSImple/EchoService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="simple">
<part name="parameters" element="tns:simple"></part>
</message>
<message name="simpleResponse">
<part name="parameters" element="tns:simpleResponse"></part>
</message>
<message name="complex">
<part name="parameters" element="tns:complex"></part>
</message>
<message name="complexResponse">
<part name="parameters" element="tns:complexResponse"></part>
</message>
<message name="IllegalArgumentException">
<part name="fault" element="tns:IllegalArgumentException"></part>
</message>
<portType name="Echo">
<operation name="simple">
<input message="tns:simple"></input>
<output message="tns:simpleResponse"></output>
</operation>
<operation name="complex">
<input message="tns:complex"></input>
<output message="tns:complexResponse"></output>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException"></fault>
</operation>
</portType>
<binding name="EchoPortBinding" type="tns:Echo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="simple">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="complex">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="EchoService">
<port name="EchoPort" binding="tns:EchoPortBinding">
<soap:address location="http://localhost:8080/StandAloneWSImple/EchoService"></soap:address>
</port>
</service>
</definitions>